absl-py==0.2.0
appdirs==1.4.3
apptools==4.4.0
astor==0.6.2
astroid==1.6.5
backcall==0.1.0
bleach==1.5.0
cachetools==3.1.1
certifi==2018.4.16
chainer==4.0.0
chardet==3.0.4
Click==7.0
cloudpickle==0.5.5
community==1.0.0b1
configobj==5.0.6
cupy-cuda90==5.1.0
cycler==0.10.0
cysignals==1.7.1
Cython==0.28.2
dask==0.19.0
decorator==4.3.0
defusedxml==0.6.0
dgl==0.1.3
# Editable install with no version control (emd==2.0)
-e /home/rangeldaroya/.virtualenvs/airscan01/lib/python3.5/site-packages
entrypoints==0.3
fastrlock==0.4
fenics-dijitso==2018.1.0
fenics-ffc==2018.1.0
fenics-fiat==2018.1.0
fenics-ufl==2018.1.0
filelock==3.0.4
Flask==1.0.2
future==0.16.0
gast==0.2.0
gcn==1.0
google-api-core==1.14.3
google-auth==1.7.2
google-cloud-bigquery==1.22.0
google-cloud-core==1.1.0
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
graphviz==0.10.1
grpcio==1.11.0
h5py==2.7.1
html5lib==0.9999999
idna==2.6
imageio==2.3.0
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.4
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.1.6
keras-contrib==2.0.8
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.23.0
lxml==4.2.4
Markdown==2.6.11
MarkupSafe==1.1.0
matplotlib==2.2.2
mccabe==0.6.1
meshio==2.0.4
mistune==0.8.4
mpmath==1.0.0
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.1
notebook==6.0.2
numba==0.38.0
numpy==1.14.2
numpy-stl==2.4.1
OpenEXR==1.3.0
pandas==0.22.0
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.1.0
pipdate==0.3.1
plotly==2.5.1
ply==3.11
plyfile==0.5
progressbar2==3.38.0
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.11.1
ptyprocess==0.6.0
pyaml==19.4.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybind11==2.2.3
pydot==1.2.4
pyemd==0.5.1
pyface==6.0.0
pyfasttext==0.4.4
pyglet==1.3.2
Pygments==2.5.2
pylint==1.9.3
pyntcloud==0.1.0
pynvrtc==9.2
pyparsing==2.2.0
python-dateutil==2.7.2
python-utils==2.3.0
pytorchviz==0.0.1
pytz==2018.4
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==17.1.2
qtconsole==4.6.0
requests==2.19.1
rsa==4.0
scikit-image==0.14.0
scikit-learn==0.19.1
scipy==1.1.0
Send2Trash==1.5.0
six==1.11.0
sklearn==0.0
sympy==1.2
tensorboard==1.7.0
tensorboard-logger==0.1.0
tensorboardX==1.5
tensorflow==1.10.0rc0
tensorflow-gpu==1.7.0
tensorlayer==1.10.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tflearn==0.3.2
toolz==0.9.0
torch==0.4.1
torchfile==0.1.0
torchsummary==1.5.1
torchvision==0.2.1
tornado==5.1.1
tqdm==4.23.1
traitlets==4.3.2
traits==4.6.0
traitsui==6.0.0
trimesh==2.31.42
urllib3==1.22
visdom==0.1.8.8
wcwidth==0.1.7
websocket-client==0.54.0
Werkzeug==0.14.1
widgetsnbextension==3.5.1
wrapt==1.10.11
